@using FreakyFashion.Data.Caregories
@*@page "{id}"*@
@model FreakyFashion.ProductModel
@{
    ViewData["Title"] = "Product";
}

<h1>@Model.product.Name</h1>
<p>@Model.product.Description</p>
<br />
<h3>@Model.product.Price</h3>
<button class="btn btn-dark">Buy</button>
<img src="@Model.product.ImageUrl" alt="@Model.product.ImageUrl" />

<div class="row">
    <div class="col">
        <img src="@Model.product.ImageUrl" />
    </div>


    <div class="col">
         <h2>@Model.product.Name</h2>
        <p>article number</p><br />

        <h3>@Model.product.Price</h3>
    </div>
 </div>

