@page "{id}"
@model FreakyFashion.CategoryModel
@{
    ViewData["Title"] = "Category";
 
}


<div class="row">
    <div class="col-md-12">

        <div id="mdb-lightbox-ui">@Model.Category.Name</div>
        <hr />

        <div class="mdb-lightbox">
            <div class="row">
                <figure class="col-md-3">
                    <img src="@Model.Category.ImageUrl" alt="@Model.Category.ImageUrl" class="img-fluid" />
                </figure>


                <figure class="col-md-3">
                    <img src="@Model.Category.ImageUrl" alt="@Model.Category.ImageUrl" class="img-fluid" />
                </figure>


                <figure class="col-md-3">
                    <img src="@Model.Category.ImageUrl" alt="@Model.Category.ImageUrl" class="img-fluid" />
                </figure>


                <figure class="col-md-3">
                    <img src="@Model.Category.ImageUrl" alt="@Model.Category.ImageUrl" class="img-fluid" />
                </figure>
            </div>
            <div class="row">
                <figure class="col-md-3">
                    <img src="@Model.Category.ImageUrl" alt="@Model.Category.ImageUrl" class="img-fluid" />
                </figure>

                <figure class="col-md-3">
                    <img src="@Model.Category.ImageUrl" alt="@Model.Category.ImageUrl" class="img-fluid" />
                </figure>

                <figure class="col-md-3">
                    <img src="@Model.Category.ImageUrl" alt="@Model.Category.ImageUrl" class="img-fluid" />
                </figure>

                <figure class="col-md-3">
                    <img src="@Model.Category.ImageUrl" alt="@Model.Category.ImageUrl" class="img-fluid" />

                </figure>
            </div>
        </div>

    </div>
</div>

 

