@page "{id}"
@using FreakyFashion.Data.Entities
@model FreakyFashion.ProductModelOne
@{
    ViewData["Title"] = "Product";
}
    <div class="container">

        <div class="row">

            <div class="col h-50">
                <img src="@Model.Product.ImageUrl" alt="@Model.Product.ImageUrl" />

            </div>

            <div class="col h-50 ">

                <h1 class="font-weight-bold">@Model.Product.Name</h1>
                <p class="font-weight-lighter text-muted">@Model.Product.ArticleNumber</p>
                <p>@Model.Product.Description</p>
                <p>@Model.Product.Price</p>
                <a asp-page="cart" asp-page-handler="buynow" asp-route-id="@Model.Product.Id">Buy Now</a>

            </div>
        </div>
        <hr />
        <hr />
        <div class="row">
            <div class="row">
                <figure class="col-md-3">
                    <img src="@Model.Product.ImageUrl" alt="@Model.Product.ImageUrl" class="img-fluid" />
                </figure>


                <figure class="col-md-3">
                    <img src="@Model.Product.ImageUrl" alt="@Model.Product.ImageUrl" class="img-fluid" />
                </figure>


                <figure class="col-md-3">
                    <img src="@Model.Product.ImageUrl" alt="@Model.Product.ImageUrl" class="img-fluid" />
                </figure>


                <figure class="col-md-3">
                    <img src="@Model.Product.ImageUrl" alt="@Model.Product.ImageUrl" class="img-fluid" />
                </figure>
            </div>

        </div>
    </div>

